.title {
    margin: 10vh 0;
    text-align: center;
    color: #B0FB49;
    font-size: 25px;
    font-weight: 700;
}

.line {
    width: 90px;
    height: 2px;
    background-color: #B0FB49;
    margin: 10px auto;
}

.boxes {
    display: flex;
    justify-content: center;
    margin: 20px 15vw;
}

.middle-box {
    background: url('../../images/Rectangle.png');
    background-size: cover;
    width: 459px;
    height: 342px;
    border-radius: 24px;
    border: 1px;
}
.box-detiles{
    margin-top: 70px;
    padding: 0 20px;
    color: #FFFFFF;

}
.middle-num{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 600;
}
.box-title{
    font-size: 25px;
    padding: 20px 0;
    font-weight: 600;
}
.left-box, .right-box{
    background-color: FAFAFA;
    opacity: 0.7;
    width: 100px;
    height: 342px;
    margin: 0 30px;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
}
.number{
    color: #B0FB49;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
}
.gray-line{
    width: 60%;
    height: 1px;
    margin: 0 20%;
    background-color: #484848;

}
.verticle-text{
    height: 250px;
    width: 200px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #FFFFFF;
}
.verticle-text p{
    padding-bottom: 50px;
    transform: rotate(-90deg);
}